{% load common %}


<div class="dropdown float-end">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Make Request
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><h6 class="dropdown-header">Group</h6></li>
    {% if retracted_group_change_request %}
      <li>
        <a
          class="dropdown-item"
          href="{% url 'usersec:hpcgroupchangerequest-detail' hpcgroupchangerequest=retracted_group_change_request %}"
        >
          Resume Update
        </a>
      </li>
    {% else %}
      <li>
        <a
          class="dropdown-item {% if has_pending_group_change_request %}disabled{% endif %}"
          href="{% url 'usersec:hpcgroupchangerequest-create' hpcgroup=object.primary_group.uuid %}"
        >
          Update Group
        </a>
      </li>
    {% endif %}
    <li>
      <a
        class="dropdown-item"
        href="{% url 'usersec:hpcusercreaterequest-create' hpcgroup=object.primary_group.uuid %}"
      >
        Invite User
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header">Project</h6></li>
    <li>
      <a class="dropdown-item" href="{% url 'usersec:hpcprojectcreaterequest-create' hpcgroup=object.primary_group.uuid %}">
        New Project
      </a>
    </li>
  </ul>
</div>

<h4 class="mt-4">Open Requests</h4>

<table class="table">
  <thead>
    <tr>
      <th>Request Type</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in requests %}
      <tr>
        <td>{{ obj.get_request_type }}</td>
        <td>{{ obj.date_created|date:"Y-m-d H:i" }}</td>
        <td>{{ obj.date_modified|date:"Y-m-d H:i" }}</td>
        <td><span class="badge bg-{{ obj.status|colorize_request_status }}">{{ obj.status }}</span></td>
        <td class="text-end">
          <div class="btn-group">
            {% if is_decided %}
              <a class="btn btn-success btn-sm"
                href="{{ object.get_archive_url }}"
              >
                <i class="iconify" data-icon="mdi:archive"></i>
              </a>
            {% endif %}
            <a href="{{ obj|get_detail_url:user }}" class="btn btn-secondary btn-sm">
              <i class="iconify" data-icon="mdi:eye"></i>
            </a>
          </div>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="text-center">
          <em class="text-muted">No pending requests.</em>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4 class="mt-4">Group Members</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Joined</th>
      <th>Expires</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for member in object.primary_group.hpcuser.all|order_by:"user__name" %}
      <tr>
        <td>{{ member.user.name }}</td>
        <td>{{ member.username }}</td>
        <td>{{ member.date_created|date:"Y-m-d H:i" }}</td>
        <td>{{ member.expiration|date:"Y-m-d H:i" }}</td>
        <td class="text-end">
          <div class="btn-group">
            <a
              href="{% url 'usersec:hpcuserchangerequest-create' hpcuser=member.uuid %}"
              class="btn btn-secondary btn-sm">
              <i class="iconify" data-icon="mdi:account-edit"></i>
            </a>
            <a
              href="#"
              class="btn btn-danger btn-sm disabled">
              <i class="iconify" data-icon="mdi:account-remove"></i>
            </a>
          </div>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="text-center">
          <em class="text-muted">No users.</em>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4 class="mt-4">Projects</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Delegate</th>
      <th>Created</th>
      <th>Expires</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for project in object.hpcproject_members.all|order_by:"name" %}
      <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.delegate.user.name|default:"<em class='text-muted'>None</em>" }}</td>
        <td>{{ project.date_created|date:"Y-m-d H:i" }}</td>
        <td>{{ project.expiration|date:"Y-m-d H:i" }}</td>
        <td class="text-end">
          <div class="btn-group">
            <a href="{% url 'usersec:hpcprojectchangerequest-create' hpcproject=project.uuid %}" class="btn btn-secondary btn-sm">
              <i class="iconify" data-icon="mdi:edit"></i>
            </a>
            <a href="#" class="btn btn-danger btn-sm disabled">
              <i class="iconify" data-icon="mdi:remove"></i>
            </a>
          </div>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="text-center">
          <em class="text-muted">No projects.</em>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% block inline_javascript %}

  <script>
    $("#submitMemberSelection").click(function() {
      let member_url = $("#id_members").val();
      if (member_url) {
        window.location.href = member_url;
      }
    });

    $("#submitProjectSelection").click(function() {
      let project_url = $("#id_projects").val();
      if (project_url) {
        window.location.href = project_url;
      }
    });
  </script>

{% endblock inline_javascript %}