{% load common %}

<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Projects
      <span class="badge rounded-pill bg-dark" id="projectCount">{{ object.hpcproject_members.count }}</span>
    </h4>
    <h6 class="card-subtitle text-muted">
      <div class="btn-group btn-group-sm" role="group" id="toggleInactiveProjectsGroup" aria-label="Toggle inactive projects">
        <input type="checkbox" class="btn-check" id="toggleInactiveProjects" autocomplete="off">
        <label class="btn btn-outline-secondary" style="border: 0px" for="toggleInactiveProjects">
          <span class="badge rounded-pill bg-secondary">
            <span id="inactiveProjects">0</span> inactive
          </span>
          <span id="toggleInactiveProjectsText">show</span> & members
        </label>
      </div>
    </h6>
  </div>
  {% if object.get_pending_invitations %}
    <div class="card-body">
      <h6 class="card-title">
        <i class="iconify text-warning" data-icon="mdi:star"></i>
        Open Invitations
      </h6>
      <div class="accordion" id="projectInvitationAccordion">
        {% for invitation in object.get_pending_invitations %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingProjectInvitation{{ forloop.counter0 }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#invitation-collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="invitation-collapse{{ forloop.counter0 }}">
                <i class="iconify me-2" data-icon="mdi:package-variant-closed"></i>
                {{ invitation.project.name }}
              </button>
            </h2>
            <div id="invitation-collapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="headingProjectInvitation{{ forloop.counter0 }}" data-bs-parent="#projectInvitationAccordion">
              <div class="accordion-body">
                <dl class="row">
                  <dt class="col-sm-6">Owner</dt>
                  <dd class="col-sm-6">
                    {{ invitation.project.group.owner.user.name }}
                    <span class="small fw-light">({{ project.group.owner.username }})</span>
                  </dd>
                  {% if invitation.project.delegate %}
                    <dt class="col-sm-6">Delegate</dt>
                    <dd class="col-sm-6">
                      {{ project.delegate.user.name }}
                      <span class="small fw-light">({{ project.delegate.username }})</span>
                    </dd>
                  {% endif %}
                  {% if invitation.project.description %}
                    <dt class="col-sm-6">Description</dt>
                    <dd class="col-sm-6">
                      {{ invitation.project.description }}
                    </dd>
                  {% endif %}
                </ul>
              </div>
            </div>
            <span class="btn-group d-flex">
              <a class="btn btn-success" href="{% url 'usersec:hpcprojectinvitation-accept' hpcprojectinvitation=invitation.uuid %}">
                <i class="iconify" data-icon="mdi:check-bold"></i>
                Accept
              </a>
              <a class="btn btn-danger" href="{% url 'usersec:hpcprojectinvitation-reject' hpcprojectinvitation=invitation.uuid %}">
                <i class="iconify" data-icon="mdi:cancel"></i>
                Reject
              </a>
            </span>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="accordion accordion-flush" id="projectAccordion">
    {% for project in object.hpcproject_members.all|order_by:"name" %}
      <div class="accordion-item {% if project.status != 'ACTIVE' %}projectInactive{% endif %}">
        <h2 class="accordion-header" id="headingProject{{ forloop.counter0 }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter0 }}">
            <span {% if project.status != 'ACTIVE' %}class="text-muted text-decoration-line-through"{% endif %}>{{ project.name }}</span>
            {% if object|is_project_owner:project %}
              <span class="badge rounded-pill bg-warning ms-1">Owner</span>
            {% elif object|is_project_delegate:project %}
              <span class="badge rounded-pill bg-secondary ms-1">Delegate</span>
            {% else %}
              <span class="badge rounded-pill bg-light text-secondary ms-1" style="border: 1px solid #6c757d !important">Member</span>
            {% endif %}
            <span class="ms-3 fw-light small text-muted">
              <i class="iconify" data-icon="mdi:clock"></i>
              {{ project.expiration|date:"Y-m-d" }}
            </span>
          </button>
        </h2>
        <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#projectAccordion">
          <div class="accordion-body">
            <dl class="row mb-0">
              <dt class="col-sm-3">Owner</dt>
              <dd class="col-sm-9">
                {{ project.group.owner.user.name }}
                <span class="small fw-light">({{ project.group.owner.username }})</span>
              </dd>

              <dt class="col-sm-3">Delegate</dt>
              <dd class="col-sm-9">
                {% if project.delegate %}
                  {{ project.delegate.user.name }}
                  <span class="small fw-light">({{ project.delegate.username }})</span>
                {% else %}
                  <em class="text-muted">None</em>
                {% endif %}
              </dd>
            </dl>

            <dl class="row mt-3">
              {% include "usersec/modules/resources_active.html" with object=project %}
            </dl>

            <h6>
              <strong>Members</strong>
              <span class="badge rounded-pill bg-dark">{{ project.members.count }}</span>
              <span class="badge rounded-pill bg-secondary" id="inactiveProject{{ forloop.counter0 }}MembersText">
                <span id="inactiveProject{{ forloop.counter0 }}Members">0</span> inactive
              </span>
            </h6>
            <ul class="list-unstyled">
              {% for member in project.members.all|order_by:"user__last_name" %}
                <li {% if member.status != 'ACTIVE' %}class="project{{ forloop.parentloop.counter0 }}MemberInactive text-muted text-decoration-line-through"{% endif %}>
                  {{ member.user.last_name }}, {{ member.user.first_name }}
                  <span class="small fw-light">({{ member.username }})</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="card-body text-muted fst-italic">No projects.</div>
    {% endfor %}
  </div>
</div>
