{% load common %}

<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      {% if admin %}
        <i class="iconify" data-icon="mdi:trash-can"></i>
        Delete Requests
      {% else %}
        <a class="btn btn-sm btn-danger disabled">
          <i class="iconify" data-icon="mdi:trash-can"></i>
          Delete Group
        </a>
      {% endif %}
    </h5>
  </div>
  <ul class="list-group list-group-flush overflow-auto" style="max-height: 150px">
    {% for obj in hpcgroupdeleterequests %}
      <li class="list-group-item">
        <a href="{{ obj|get_detail_url:user }}">{{ obj.requester.username }}</a>
        <span class="badge bg-{{ obj.status|colorize_request_status }}">
          {{ obj.display_status }}
        </span>
      </li>
    {% empty %}
      <li class="list-group-item"><em class="text-muted">No requests.</em></li>
    {% endfor %}
  </ul>
</div>
