<span class="btn-group">
  {% if not is_decided %}
    {% if not is_active %}
      <a class="btn btn-primary"
         href="{{ object.get_update_url }}"
      >
        <i class="iconify" data-icon="mdi:refresh"></i>
        Update
      </a>
    {% endif %}
    {% if is_retracted %}
      <a class="btn btn-success"
         href="{{ object.get_reactivate_url }}"
      >
        <i class="iconify" data-icon="mdi:check-bold"></i>
        Activate
      </a>
    {% else %}
      <a class="btn btn-danger"
         href="{{ object.get_retract_url }}"
      >
        <i class="iconify" data-icon="mdi:backspace"></i>
        Retract
      </a>
    {% endif %}
  {% endif %}
</span>
