{% load common %}

<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      {% if admin %}
        <i class="iconify" data-icon="mdi:create"></i>
        Create Requests
      {% else %}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'usersec:hpcprojectcreaterequest-create' hpcgroup=object.primary_group.uuid %}">
          <i class="iconify" data-icon="mdi:create"></i>
          Request New Project
        </a>
      {% endif %}
    </h5>
  </div>
  <ul class="list-group list-group-flush overflow-auto" style="max-height: 150px">
    {% for obj in hpcprojectcreaterequests %}
      <li class="list-group-item">
        <a href="{{ obj|get_detail_url:user }}">{{ obj.name }}</a>
        <span class="badge bg-{{ obj.status|colorize_request_status }}">
          {{ obj.display_status }}
        </span>
        <div class="small text-muted">
          <strong>{{ obj.requester.username }}</strong>
          {{ obj.date_created|date:"Y-d-m H:i" }}
        </div>
      </li>
    {% empty %}
      <li class="list-group-item"><em class="text-muted">No requests.</em></li>
    {% endfor %}
  </ul>
</div>
