<div class="card mt-5">
  <div class="card-header">
    <h5 class="card-title">
      {% if request == 'create' %}
        <i class="iconify" data-icon="mdi:create"></i>
        Create {{ obj.capitalize }}
      {% elif request == 'update' %}
        <i class="iconify" data-icon="mdi:refresh"></i>
        Update {{ obj.capitalize }}
      {% elif request == 'delete' %}
        <i class="iconify" data-icon="mdi:trash-can"></i>
        Delete {{ obj.capitalize }}
      {% endif %}
    </h5>
  </div>
  <div class="card-body">
    <p class="card-text fst-italic text-muted">You do not have permission to {{ request }} a {{ obj }}.</p>
  </div>
</div>
