{% if not omit_home_button %}
  <a class="btn btn-secondary" href="{% url 'home' %}">
    <i class="iconify" data-icon="mdi:home"></i>
  </a>
{% endif %}

<span class="btn-group">
  {% if not is_decided %}
    {% if not is_active %}
      <a class="btn btn-secondary"
         href="{{ object.get_update_url }}"
      >
        Update
      </a>
    {% endif %}
    {% if is_retracted %}
      <a class="btn btn-secondary"
         href="{{ object.get_reactivate_url }}"
      >
        Re-activate
      </a>
      <a class="btn btn-danger"
         href="{{ object.get_delete_url }}"
      >
        Delete
      </a>
    {% else %}
      <a class="btn btn-danger"
         href="{{ object.get_retract_url }}"
      >
        Retract
      </a>
    {% endif %}
  {% endif %}
</span>
