{% load common %}

<div class="card mt-5">
  <div class="card-header">
    <h5 class="card-title">
      <i class="iconify" data-icon="mdi:create"></i>
      Create Requests
    </h5>
  </div>
  <ul class="list-group list-group-flush overflow-auto" style="max-height: 150px">
    {% for obj in hpcgroupcreaterequests %}
      <li class="list-group-item">
        <a href="{{ obj|get_detail_url:user }}">{{ obj.requester.username }}</a>
        <span class="badge bg-{{ obj.status|colorize_request_status }}">
          {{ obj.display_status }}
        </span>
        <small class="text-muted">
          {{ obj.date_created|date:"Y-m-d H:i" }}
        </small>
      </li>
    {% empty %}
      <li class="list-group-item"><em class="text-muted">No requests.</em></li>
    {% endfor %}
  </ul>
</div>
