{% load common %}

<dt class="col-sm-6">Fast Active Storage <span class="fw-light">(Tier 1)</span></dt>
<dd class="col-sm-6">
  <dl class="row">
    <dt class="col-sm-7 small">Scratch</dt>
    <dd class="col-sm-5">{{ object.resources_requested|lookup:"tier1_scratch" }} TB</dd>

    <dt class="col-sm-7 small">Work</dt>
    <dd class="col-sm-5">{{ object.resources_requested|lookup:"tier1_work" }} TB</dd>
  </dl>
</dd>

<dt class="col-sm-6">Long-Term Storage <span class="fw-light">(Tier 2)</span></dt>
<dd class="col-sm-6">
  <dl class="row">
    <dt class="col-sm-7 small">Unmirrored</dt>
    <dd class="col-sm-5">{{ object.resources_requested|lookup:"tier2_unmirrored" }} TB</dd>

    <dt class="col-sm-7 small">Mirrored</dt>
    <dd class="col-sm-5">{{ object.resources_requested|lookup:"tier2_mirrored" }} TB</dd>
  </dl>
</dd>
