{% extends 'base.html' %}

{% load common %}

{% block content %}

<h2 class="mt-5">
  Extend User Expiration
  <span class="float-end">
    {% if admin %}
      {% include "usersec/modules/request_buttons_admin.html" %}
    {% else %}
      {% include "usersec/modules/request_buttons_user.html" %}
    {% endif %}
  </span>
</h2>

<div class="row mt-4">
  <div class="col-sm-7">
    <dl class="row">    
      {% if admin %}
      <dt class="col-sm-6">Requester</dt>
      <dd class="col-sm-6">{{ object.requester }}</dd>
      {% endif %}

      <dt class="col-sm-6">User</dt>
      <dd class="col-sm-6">{{ object.user }}</dd>

      <dt class="col-sm-6">Expiration</dt>
      <dd class="col-sm-6">{{ object.expiration|date:"Y-m-d" }}</dd>
    </dl>
  </div>
  <div class="col-sm-5">
    {% include "usersec/modules/comments.html" %}
  </div>
</div>

{% endblock content %}
