{% extends 'base.html' %}

{% load common %}

{% block content %}

<h2 class="mt-5">
  Request to Change the Group
  <span class="float-end">
    {% if admin %}
      {% include "usersec/modules/request_buttons_admin.html" %}
    {% else %}
      {% include "usersec/modules/request_buttons_user.html" %}
    {% endif %}
  </span>
</h2>

{% if not admin %}
<div class="mt-4 card bg-{{ object.status|colorize_request_status }}">
  <div class="card-body lead text-light">
    {% if object.status == "ACTIVE" %}
      You've requested a change for your group.
      We are working on your request and you will receive an email once we approve it.
    {% elif object.status == "RETRACTED" %}
      You have retracted your request to change your group. Click <strong>Re-activate</strong> to activate the request.
    {% elif object.status == "REVISION" %}
      We have asked for you to revise your request to change your group. See our comment and please answer any question.
    {% endif %}
  </div>
</div>
{% endif %}
  <div class="row mt-4">
    <div class="col-sm-6">
      <dl class="row">
        {% include "usersec/modules/resources_requested.html" with object=object %}

        <dt class="col-sm-6">Requester</dt>
        <dd class="col-sm-6">{{ object.requester }}</dd>

        <dt class="col-sm-6">Description</dt>
        <dd class="col-sm-6">{{ object.description }}</dd>

        <dt class="col-sm-6">Delegate</dt>
        <dd class="col-sm-6">{{ object.delegate|default:"<em class='text-muted'>No delegate</em>" }}</dd>

        <dt class="col-sm-6">Expiration</dt>
        <dd class="col-sm-6">{{ object.expiration|date:"Y-m-d" }}</dd>
      </dl>
    </div>
    <div class="col-sm-6">
      {% include "usersec/modules/comments.html" %}
    </div>
  </div>
</div>

{% endblock content %}
