{% extends 'base.html' %}

{% load common %}

{% block content %}

  <h1>
    You've been invited to the BIH cluster to join group
    <span class="text-danger">{{ object.hpcusercreaterequest.group.name }}</span>
  </h1>

  <h3 class="mt-4">Terms &amp; Conditions</h3>

  {% for obj in terms_list %}
    <h4 class="mt-4">{{ obj.title }}</h4>
    <p>{{ obj.text }}</p>
    <div class="input-group mb-4">
      <span class="input-group-text">
        <input type="checkbox" class="form-check-input m-0 consent" name="consent{{ forloop.counter }}" id="id_consent{{ forloop.counter }}">
      </span>
      <label for="id_consent{{ forloop.counter }}">
        <span class="form-control fw-bold">
          I consent to <em>{{ obj.title }}</em>.
        </span>
      </label>
    </div>
  {% endfor %}

  <a
    class="btn btn-success disabled"
    id="id_submit_button"
    href="{% url 'usersec:hpcgroupinvitation-accept' hpcgroupinvitation=object.uuid %}"
  >
    <i class="iconify" data-icon="mdi:check-bold"></i>
    Accept
  </a>
  <a class="btn btn-danger"
     href="{% url 'usersec:hpcgroupinvitation-reject' hpcgroupinvitation=object.uuid %}"
  >
    <i class="iconify" data-icon="mdi:cancel"></i>
    Reject
  </a>

{% endblock content %}

{% block inline_javascript %}
  {{ block.super }}
  <script>
    function consents() {
        var consent = true;
        var btn = $("#id_submit_button");
        $(".consent").each(function(i, obj) {
            consent &= obj.checked;
        })
        if (consent) {
            btn.removeClass("disabled");
        } else if (!btn.hasClass("disabled")) {
            btn.addClass("disabled");
        }
    }
    $(document).ready(function() {
        $(".consent").click(consents);
        consents();
    });
  </script>
{% endblock inline_javascript %}
