{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="row">
    <h2>
      {% if update %}
        Update HPC group request
      {% else %}
        Request HPC group
      {% endif %}
    </h2>
    {% if not admin %}
      <p>
        As the first step is for <strong>principal investigators and group leaders</strong> to create a <strong>group</strong> on the cluster which gives their group/lab members a primary entity on the cluster.
      </p>
      <p>
        <strong>Only &quot;group leaders&quot; can do this.</strong>
        Example of group leaders are principal investigators, leaders of scientific or technical units, and junior group leaders.
        As a group leader, you take responsibility for the action of your users on the cluster.
        Please provide a link to your group at Charite/MDC in the comment field for verification.
      </p>
      <p>
        You can add members to your groups and designate a delegate later on in the process.
      </p>
    {% endif %}
  </div>

  {% include "usersec/modules/comments.html" %}

  <div class="container-fluid">
    <form method="post" id="submit" data-is-admin="{{ admin }}">
      {% csrf_token %}
      {% if admin %}
        <dl class="row">
          <dt class="col-sm-3">Resource Quotas</dt>
          <dd class="col-sm-9">
            <dl class="row">
              {% for key, value in object.resources_requested.items %}
                <dt class="col-sm-3 text-muted">{{ key }}</dt>
                <dd class="col-sm-9">{{ value }}</dd>
              {% endfor %}
            </dl>
          </dd>

          <dt class="col-sm-3">Requester</dt>
          <dd class="col-sm-9">{{ object.requester.username }}</dd>

          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">{{ object.description }}</dd>

          <dt class="col-sm-3">Expiration</dt>
          <dd class="col-sm-9">{{ object.expiration }}</dd>
        </dl>
      {% endif %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="fieldWrapper">
          {% if field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ field.errors }}
            </div>
          {% endif %}
          <div class="input-group mb-3">
            <span class="input-group-text">
              {% if field.field.required %}
                <strong>{{ field.label }}<sup class="text-danger">*</sup></strong>
              {% else %}
                {{ field.label }}
              {% endif %}
            </span>
            {{ field }}
          </div>
          {% if field.help_text %}
            <p class="help small text-muted fst-italic">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}

      {% if not admin %}
        <div class="fieldWrapper">
          <div class="input-group mb-3">
            <span class="input-group-text">
              <input type="checkbox" class="form-check-input m-0" name="consent" id="id_consent">
            </span>
            <label for="id_consent">
              <span class="form-control fw-bold">
                I confirm that I am a group leader and provided some information/link in the comment field.<sup class="text-danger">*</sup>
              </span>
            </label>
            <p class="help small text-muted fst-italic">
              You must confirm that you are a group leader before you can submit the form.
            </p>
          </div>
        </div>
      {% endif %}

      {% if update %}
        <a class="btn btn-secondary"
          {% if admin %}
           href="{% url 'adminsec:hpcgroupcreaterequest-detail' hpcgroupcreaterequest=object.uuid %}"
          {% else %}
           href="{% url 'usersec:hpcgroupcreaterequest-detail' hpcgroupcreaterequest=object.uuid %}"
          {% endif %}
        >
          <i class="iconify" data-icon="mdi:arrow-left-bold"></i>
          Cancel
        </a>
      {% endif %}
      <button class="btn btn-primary {% if not admin %}disabled{% endif %}" type="submit" id="id_submit_button">
        {% if update %}
          {% if admin %}
            <i class="iconify" data-icon="mdi:comment"></i>
            Request Revision
          {% else %}
            <i class="iconify" data-icon="mdi:refresh"></i>
            Update
          {% endif %}
        {% else %}
          <i class="iconify" data-icon="mdi:upload"></i>
          Submit
        {% endif %}
      </button>
    </form>
  </div>
{% endblock content %}

{% block inline_javascript %}
  <script>
    $(document).ready(function() {
      $(".mergeToJson").change(mergeToJson);
      $("#id_consent").click(consent);

      jsonToFields();

      $("#submit").submit(function(event) {
        if (!$(this).data("is-admin")) {
          mergeToJson();
        }
      });
    });
  </script>
{% endblock inline_javascript %}
