{% extends 'base.html' %}

{% load common %}

{% block content %}

  <div class="card mt-5">
    <div class="card-header">
      <h4 class="card-title">
        {{ object.name }}
        <span class="badge bg-{{ object.status|colorize_object_status }}">
          {{ object.status|lower }}
        </span>
        <span class="float-end">
          <a class="btn btn-secondary" href="{% url 'home' %}">
            <i class="iconify" data-icon="mdi:home"></i>
            Go to Overview
          </a>
          {% if not admin %}
            <a class="btn btn-primary"
               href="{% url 'usersec:hpcusercreaterequest-create' hpcgroup=object.uuid %}"
            >
              <i class="iconify" data-icon="mdi:user"></i>
              Add User
            </a>
            <a class="btn btn-primary disabled"
               href="#hpcgroup-change"
            >
              <i class="iconify" data-icon="mdi:update"></i>
              Request Change
            </a>
          {% endif %}
        </span>
      </h4>
      <h6 class="card-subtitle text-muted">{{ object.description }}</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <dl class="row">
            {% include "usersec/modules/resources.html" with object=object %}

            <dt class="col-sm-6">Owner</dt>
            <dd class="col-sm-6"><a href="{% url 'usersec:hpcuser-overview' hpcuser=object.owner.uuid %}">{{ object.owner.user.name }}</a></dd>

            <dt class="col-sm-6">Delegate</dt>
            <dd class="col-sm-6">{{ object.delegate.user.name|default:"<em class='text-muted'>not named</em>" }}</dd>

            <dt class="col-sm-6">Expiration</dt>
            <dd class="col-sm-6">{{ object.expiration|date:"Y-m-d" }}</dd>

            <dt class="col-sm-6">
              Members
              <span class="badge rounded-pill bg-secondary">{{ object.hpcuser.count }}</span>
            </dt>
            <dd class="col-sm-6">
              <ul class="list-unstyled">
                {% for member in object.hpcuser.all %}
                  <li>
                    <a href="{% url 'usersec:hpcuser-detail' hpcuser=member.uuid %}">{{ member.user.name|default:"<em>Unknown</em>" }}</a>
                    <span class="small text-muted fw-bold">{{ member.username }}</span>
                  </li>
                {% empty %}
                  <li><em class="text-muted">No members (?)</em></li>
                {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
