{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="row">
    <h2>
      {% if update %}
        Update HPC group request
      {% else %}
        Request HPC group
      {% endif %}
    </h2>
    <p>
      As the first step is for <strong>principal investigators and group leaders</strong> to create a <strong>group</strong> on the cluster which gives their group/lab members a primary entity on the cluster.
    </p>
    <p>
      <strong>Only &quot;group leaders&quot; can do this.</strong>
      Example of group leaders are principal investigators, leaders of scientific or technical units, and junior group leaders.
      As a group leader, you take responsibility for the action of your users on the cluster.
      Please provide a link to your group at Charite/MDC in the comment field for verification.
    </p>
    <p>
      You can add members to your groups and designate a delegate later on in the process.
    </p>
  </div>

  {% if comment_history %}
    <div class="alert alert-info">
      <h4 class="alert-heading">Comments</h4>
      <hr>
      <ul class="list-unstyled">
        {% for comment in comment_history %}
          <li>
            <small>{{ comment.1|date:"Y-d-m H:i" }}</small>
            <strong>{{ comment.0 }}</strong>:
            {{ comment.2 }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="container-fluid">
    <form method="post">
      {% csrf_token %}
      {% if admin %}
        <dl class="row">
          <dt class="col-sm-3">Resources</dt>
          <dd class="col-sm-9">
            <dl class="row">
              {% for key, value in object.resources_requested.items %}
                <dt class="col-sm-3 text-muted">{{ key }}</dt>
                <dd class="col-sm-9">{{ value }}</dd>
              {% endfor %}
            </dl>
          </dd>

          <dt class="col-sm-3">Requester</dt>
          <dd class="col-sm-9">{{ object.requester.username }}</dd>

          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">{{ object.description }}</dd>

          <dt class="col-sm-3">Expiration</dt>
          <dd class="col-sm-9">{{ object.expiration }}</dd>
        </dl>
      {% endif %}
      {{ form|crispy }}
      {% if update %}
        <a class="btn btn-secondary"
          {% if admin %}
           href="{% url 'adminsec:hpcgroupcreaterequest-detail' hpcgroupcreaterequest=object.uuid %}"
          {% else %}
           href="{% url 'usersec:hpcgroupcreaterequest-detail' hpcgroupcreaterequest=object.uuid %}"
          {% endif %}
        >
          <i class="iconify" data-icon="mdi:arrow-left-bold"></i>
          Cancel
        </a>
      {% endif %}
      <button class="btn btn-primary" type="submit">
        {% if update %}
          {% if admin %}
            <i class="iconify" data-icon="mdi:comment"></i>
            Request Revision
          {% else %}
            <i class="iconify" data-icon="mdi:refresh"></i>
            Update
          {% endif %}
        {% else %}
          <i class="iconify" data-icon="mdi:upload"></i>
          Submit
        {% endif %}
      </button>
    </form>
  </div>

{% endblock content %}
