{% extends 'base.html' %}

{% load common %}

{% block content %}

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        HPC Project Request
        <span class="badge bg-{{ object.status|colorize_request_status }}">
          {{ object.display_status }}
        </span>
        <span class="float-end">
          {% if admin %}
            {% include "usersec/modules/request_buttons_admin.html" %}
          {% else %}
            {% include "usersec/modules/request_buttons_user.html" %}
          {% endif %}
        </span>
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <dl class="row">
            <dt class="col-sm-3">Resource Quotas</dt>
            <dd class="col-sm-9">
              <dl class="row">
                <dt class="col-sm-9 text-muted">Fast Active Storage (Tier 1 - Scratch)</dt>
                <dd class="col-sm-3">{{ object.resources_requested|lookup:"tier1_scratch" }} TB</dd>

                <dt class="col-sm-9 text-muted">Fast Active Storage (Tier 1 - Work)</dt>
                <dd class="col-sm-3">{{ object.resources_requested|lookup:"tier1_work" }} TB</dd>

                <dt class="col-sm-9 text-muted">Long-Term Storage (Tier 2 - Unmirrored)</dt>
                <dd class="col-sm-3">{{ object.resources_requested|lookup:"tier2_unmirrored" }} TB</dd>

                <dt class="col-sm-9 text-muted">Long-Term Storage (Tier 2 - Mirrored)</dt>
                <dd class="col-sm-3">{{ object.resources_requested|lookup:"tier2_mirrored" }} TB</dd>
              </dl>
            </dd>

            <dt class="col-sm-3">Requester</dt>
            <dd class="col-sm-9">
              <a href="{{ object.requester.hpcuser_user.first|get_detail_url:user }}">{{ object.requester.name }}</a>
              <strong class="small text-muted">{{ object.requester.hpcuser_user.first.username }}</strong>
            </dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ object.name }}</dd>

            <dt class="col-sm-3">Delegate</dt>
            <dd class="col-sm-9">
              {% if object.delegate %}
                <a href="{{ object.delegate|get_detail_url:user }}">{{ object.delegate.user.name }}</a> <strong class="small text-muted">{{ object.delegate.username }}</strong>
              {% else %}
                <em class="text-muted">No delegate.</em>
              {% endif %}
            </dd>

            <dt class="col-sm-3">Members</dt>
            <dd class="col-sm-9">
              <ul class="list-unstyled">
                {% for member in object.members.all %}
                  <li>
                    <a href="{{ member|get_detail_url:user }}">{{ member.user.name }}</a> <strong class="small text-muted">{{ member.username }}</strong>
                  </li>
                {% endfor %}
              </ul>
            </dd>

            <dt class="col-sm-3">Group</dt>
            <dd class="col-sm-9">
              <a href="{{ object.group|get_detail_url:user }}">{{ object.group.name }}</a>
              <small class="fst-italic text-muted">owned by</small> <a href="{{ object.group.owner|get_detail_url:user }}">{{ object.group.owner.user.name }}</a> <strong class="small text-muted">{{ object.group.owner.username }}</strong>
            </dd>
            <dt class="col-sm-3">Expiration</dt>
            <dd class="col-sm-9">{{ object.expiration }}</dd>
          </dl>
        </div>
        <div class="col-sm-6">
          {% include "usersec/modules/comments.html" %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
