{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load common %}

{% block content %}

  <div class="row">
    <h2>
      {% if update %}
        Update HPC Project Request
      {% else %}
        Request HPC Project
      {% endif %}
    </h2>
  </div>

  {% include "usersec/modules/comments.html" %}

  <div class="container-fluid">
    <form method="post" id="submit" data-is-admin="{{ admin }}" data-owner-id="{% if group %}{{ group.owner.id }}{% else %}{{ object.group.owner.id }}{% endif %}">
      {% csrf_token %}
      {% if admin %}
        <dl class="row">
          <dt class="col-sm-3">Resource Quotas</dt>
          <dd class="col-sm-9">
            <dl class="row">
              {% for key, value in object.resources_requested.items %}
                <dt class="col-sm-3 text-muted">{{ key }}</dt>
                <dd class="col-sm-9">{{ value }}</dd>
              {% endfor %}
            </dl>
          </dd>

          <dt class="col-sm-3">Requester</dt>
          <dd class="col-sm-9">{{ object.requester.username }}</dd>

          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">{{ object.description }}</dd>

          <dt class="col-sm-3">Members <span class="badge rounded-pill bg-secondary">{{ object.members.count }}</span></dt>
          <dd class="col-sm-9">
            <ul class="list-unstyled">
              {% for member in object.members.all %}
                <li>{{ member }}</li>
              {% endfor %}
            </ul>
          </dd>

          <dt class="col-sm-3">Expiration</dt>
          <dd class="col-sm-9">{{ object.expiration|date:"Y-m-d" }}</dd>
        </dl>
      {% endif %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="fieldWrapper {% if field.label == "Members" %}d-none{% endif %}">
          {% if field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ field.errors }}
            </div>
          {% endif %}
          <div class="input-group mb-3">
            <span class="input-group-text">
              {% if field.field.required %}
                <strong>{{ field.label }}<sup class="text-danger">*</sup></strong>
              {% else %}
                {{ field.label }}
              {% endif %}
            </span>
            {{ field }}
            {% if field.label == "Select Members" %}
              <button class="btn btn-secondary" type="button" id="addMember">
                <i class="iconify" data-icon="mdi:plus"></i>
                Add
              </button>
            {% endif %}
          </div>
          {% if field.help_text %}
            <p class="help small text-muted fst-italic">{{ field.help_text|safe }}</p>
          {% endif %}
          {% if field.label == "Select Members" %}
            <h6>Members selected</h6>
            <div class="mb-4" id="membersSelected">
              <em class="text-danger fst-italic">No members selected.</em>
            </div>
          {% endif %}
        </div>
      {% endfor %}

      {% if update %}
        <a class="btn btn-secondary"
          {% if admin %}
           href="{% url 'adminsec:hpcprojectcreaterequest-detail' hpcprojectcreaterequest=object.uuid %}"
          {% else %}
           href="{% url 'usersec:hpcprojectcreaterequest-detail' hpcprojectcreaterequest=object.uuid %}"
          {% endif %}
        >
          <i class="iconify" data-icon="mdi:arrow-left-bold"></i>
          Cancel
        </a>
      {% endif %}
      <button class="btn btn-primary" type="submit">
        {% if update %}
          {% if admin %}
            <i class="iconify" data-icon="mdi:comment"></i>
            Request Revision
          {% else %}
            <i class="iconify" data-icon="mdi:refresh"></i>
            Update
          {% endif %}
        {% else %}
          <i class="iconify" data-icon="mdi:upload"></i>
          Submit
        {% endif %}
      </button>
    </form>
  </div>
{% endblock content %}

{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $("#addMember").click(addMember)
      $(".mergeToJson").change(mergeToJson);
      $("#id_delegate").change(addDelegateMember);

      addOwnerMember();
      addDelegateMember();
      buildSelectedMembers();
      jsonToFields();

      $("#submit").submit(function(event) {
        if (!$(this).data("is-admin")) {
          mergeToJson();
        }
      });
    });
  </script>
{% endblock inline_javascript %}
