{% extends 'base.html' %}

{% load common %}

{% block content %}

  <div class="card mt-5">
    <div class="card-header">
      <h4 class="card-title">
        {{ object.name }}
        <span class="badge bg-{{ object.status|colorize_object_status }}">
          {{ object.status|lower }}
        </span>
        <span class="float-end">
          <a class="btn btn-secondary" href="{% url 'home' %}">
            <i class="iconify" data-icon="mdi:home"></i>
            Go to Overview
          </a>
          {% if not admin %}
            <a class="btn btn-primary disabled"
               href="#hpcproject-change"
            >
              <i class="iconify" data-icon="mdi:update"></i>
              Request Change
            </a>
          {% endif %}
        </span>
      </h4>
      <h6 class="card-subtitle text-muted">{{ object.description }}</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <dl class="row">
            {% include "usersec/modules/resources.html" with object=object %}

            <dt class="col-sm-3">Expiration</dt>
            <dd class="col-sm-9">{{ object.expiration|date:"Y-m-d" }}</dd>

            <dt class="col-sm-3">Owner</dt>
            <dd class="col-sm-9">
              <a href="{% url 'usersec:hpcuser-detail' hpcuser=object.group.owner.uuid %}">{{ object.group.owner.user.name }}</a>
              <strong class="small text-muted">{{ object.group.owner.username }}</strong>
            </dd>

            <dt class="col-sm-3">Delegate</dt>
            <dd class="col-sm-9">
              {% if object.delegate %}
                <a href="{% url 'usersec:hpcuser-detail' hpcuser=object.delegate.uuid %}">{{ object.delegate.user.name }}</a>
                <strong class="small text-muted">{{ object.delegate.username }}</strong>
              {% else %}
                <em class="text-muted">not named</em>
              {% endif %}
            </dd>

            <dt class="col-sm-3">
              Members
              <span class="badge rounded-pill bg-secondary">{{ object.members.count }}</span>
            </dt>
            <dd class="col-sm-9">
              <ul class="list-unstyled">
                {% for member in object.members.all %}
                  <li>
                    <a href="{% url 'usersec:hpcuser-detail' hpcuser=object.uuid %}">{{ member.user.name }}</a>
                    <strong class="small text-muted">{{ member.username }}</strong>
                  </li>
                {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
