{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load common %}

{% block content %}

  <h2 class="mt-5">
    {% if update %}
      {% if admin %}
        Request Revision
      {% else %}
        Update Project Request
      {% endif %}
    {% else %}
      Create Project Request
    {% endif %}
  </h2>

  {% include "usersec/modules/comments.html" %}

  <form method="post" class="mt-3 mb-3" id="submit" data-is-admin="{{ admin }}" data-owner-id="{{ owner_id }}">
    {% csrf_token %}
    {% if admin %}
      <dl class="row">
        {% include "usersec/modules/resources_requested.html" with object=object %}

        <dt class="col-sm-6">Requester</dt>
        <dd class="col-sm-6">{{ object.requester.username }}</dd>

        <dt class="col-sm-6">Description</dt>
        <dd class="col-sm-6">{{ object.description }}</dd>

        <dt class="col-sm-6">Members <span class="badge rounded-pill bg-secondary">{{ object.members.count }}</span></dt>
        <dd class="col-sm-6">
          <ul class="list-unstyled">
            {% for member in object.members.all %}
              <li>{{ member }}</li>
            {% endfor %}
          </ul>
        </dd>

        <dt class="col-sm-6">Expiration</dt>
        <dd class="col-sm-6">{{ object.expiration|date:"Y-m-d" }}</dd>
      </dl>
    {% endif %}

    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}

    {% if admin %}
    <div class="d-none">
    {% endif %}
      {{ form.members }}

      {% include "usersec/form_field.html" with field=form.name_requested %}
      {% include "usersec/form_field.html" with field=form.description %}
      {% include "usersec/form_field.html" with field=form.expiration %}

      <h4 class="mt-4">Delegate</h4>

      {{ form.delegate }}

      <h4 class="mt-4">Members</h4>

      <ul class="mt-2 mb-3 list-group list-group-numbered" id="membersSelected">
      </ul>
      <div class="fieldWrapper">
        <input type="text" id="typeahead" class="typeahead form-control" placeholder="Search user ...">
      </div>

      <h4 class="mt-4">Resources</h4>

      <div class="row mt-3">
        <div class="col-md-6">
          <h5>Tier 1</h5>
          {% include "usersec/form_field.html" with field=form.tier1_scratch %}
        </div>
        <div class="col-md-6">
          <h5>Tier 2</h5>
          {% include "usersec/form_field.html" with field=form.tier2_unmirrored %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% include "usersec/form_field.html" with field=form.tier1_work %}
        </div>
        <div class="col-md-6">
          {% include "usersec/form_field.html" with field=form.tier2_mirrored %}
        </div>
      </div>
    {% if admin %}
    </div>
    {% endif %}

    {% include "usersec/form_field.html" with field=form.comment %}

    <a class="btn btn-secondary" href="{% url 'home' %}">
      Cancel
    </a>
    <button class="btn btn-primary" type="submit">
      {% if update %}
        {% if admin %}
          Request Revision
        {% else %}
          Update Project Request
        {% endif %}
      {% else %}
        Submit Project Request
      {% endif %}
    </button>
  </form>
{% endblock content %}

{% block css %}
  {{ block.super }}
  <style>

.typeahead,
.tt-query,
.tt-hint {
  height: 50px;
  padding: 8px 12px;
  line-height: 50px;
  width: 500px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #5fa7e2;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 500px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
  </style>
{% endblock css %}

{% block inline_javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      // Initialize Bloodhound suggestion engine
      var searchEngine = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),  // Replace 'name' with the appropriate field
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          url: "{% url 'usersec:api-hpcuser-lookup' %}?q=%QUERY",  // Replace with your actual API endpoint
          wildcard: '%QUERY',
          transform: function(response) {
            // Map the response to the format Typeahead expects
            // Assuming response is an array of objects
            return $.map(response, function(data) {
              return {
                display: `${data.full_name} (${data.username}, AG ${data.primary_group})`,
                username: data.username,
                id: data.id
              };
            });
          }
        }
      });

      // Initialize Typeahead
      $('#typeahead').typeahead(
        {
          hint: true,
          highlight: true,
          minLength: 1
        },
        {
          name: 'search-results',
          display: 'display',
          source: searchEngine
        }
      );

      // Optional: Add an event listener to handle selections
      $('#typeahead').bind('typeahead:select', function(ev, suggestion) {
        const blob = {
          value: suggestion.id,
          text: suggestion.display
        };
        const isOwner = suggestion.id === $("#submit").data("owner-id")

        if (!isOwner && $(`#id_members option[value="${suggestion.id}"]`).length == 0) {
          $('#id_delegate').append($('<option>', blob));
        }
        if ($(`#id_members option[value="${suggestion.id}"]`).length === 0) {
          $('#id_members').append($('<option>', {...blob, selected: true}));
        }

        buildSelectedMembers();
      });

      $(".mergeToJson").change(mergeToJson);
      $("#submit").submit(function(event) {
        if (!$(this).data("is-admin")) {
          mergeToJson();
        }
      });

      buildSelectedMembers();
    });
  </script>
{% endblock inline_javascript %}
