{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="row">
    <h2>
      {% if update %}
        Update HPC User Request
      {% else %}
        Request HPC User
      {% endif %}
    </h2>
  </div>

  {% include "usersec/modules/comments.html" %}

  <div class="container-fluid">
    <form method="post" id="submit" data-is-admin="{{ admin }}">
      {% csrf_token %}
      {% if admin %}
        <dl class="row">
          <dt class="col-sm-3">Resources</dt>
          <dd class="col-sm-9">
            <dl class="row">
              {% for key, value in object.resources_requested.items %}
                <dt class="col-sm-3 text-muted">{{ key }}</dt>
                <dd class="col-sm-9">{{ value }}</dd>
              {% endfor %}
            </dl>
          </dd>

          <dt class="col-sm-3">Requester</dt>
          <dd class="col-sm-9">{{ object.requester.username }}</dd>

          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">{{ object.description }}</dd>

          <dt class="col-sm-3">Expiration</dt>
          <dd class="col-sm-9">{{ object.expiration }}</dd>
        </dl>
      {% endif %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="fieldWrapper">
          {{ field.errors }}
          <div class="input-group mb-3">
            <span class="input-group-text">
              {% if field.field.required %}
                <strong>{{ field.label }}<sup class="text-danger">*</sup></strong>
              {% else %}
                {{ field.label }}
              {% endif %}
            </span>
            {{ field }}
          </div>
          {% if field.help_text %}
            <p class="help small text-muted fst-italic">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}

      {% if update %}
        <a class="btn btn-secondary"
          {% if admin %}
           href="{% url 'adminsec:hpcusercreaterequest-detail' hpcusercreaterequest=object.uuid %}"
          {% else %}
           href="{% url 'usersec:hpcusercreaterequest-detail' hpcusercreaterequest=object.uuid %}"
          {% endif %}
        >
          <i class="iconify" data-icon="mdi:arrow-left-bold"></i>
          Cancel
        </a>
      {% endif %}
      <button class="btn btn-primary" type="submit">
        {% if update %}
          {% if admin %}
            <i class="iconify" data-icon="mdi:comment"></i>
            Request Revision
          {% else %}
            <i class="iconify" data-icon="mdi:refresh"></i>
            Update
          {% endif %}
        {% else %}
          <i class="iconify" data-icon="mdi:upload"></i>
          Submit
        {% endif %}
      </button>
    </form>
  </div>

{% endblock content %}

{% block inline_javascript %}
  <script>
    $(document).ready(function() {
      $("#submit").submit(function(event) {
        alert("Submitting")
        if (!$(this).data("is-admin")) {
          alert("mergin JSON")
          mergeToJson();
        }
      });
    });
  </script>
{% endblock inline_javascript %}
