{% extends 'base.html' %}

{% load common %}

{% block content %}

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        HPC User Request
        <span class="badge bg-{{ object.status|colorize_request_status }}">
          {{ object.status|lower }}
        </span>
        <span class="float-end">
          {% if admin %}
            <a class="btn btn-secondary" href="{% url 'adminsec:overview' %}">
              <i class="iconify" data-icon="mdi:arrow-left-bold"></i>
              Overview
            </a>
          {% else %}
            <a class="btn btn-secondary" href="{% url 'usersec:hpcgroup-detail' hpcgroup=object.group.uuid %}">
              <i class="iconify" data-icon="mdi:arrow-left-bold"></i>
              Overview
            </a>
          {% endif %}
          {% if not is_decided %}
            <span class="btn-group">
              {% if admin %}
                <a class="btn btn-warning"
                   href="{% url 'adminsec:hpcusercreaterequest-revision' hpcusercreaterequest=object.uuid %}"
                >
                  <i class="iconify" data-icon="mdi:comment"></i>
                  Revision
                </a>
                <a class="btn btn-success"
                   href="{% url 'adminsec:hpcusercreaterequest-approve' hpcusercreaterequest=object.uuid %}"
                >
                  <i class="iconify" data-icon="mdi:check-bold"></i>
                  Approve
                </a>
                <a class="btn btn-danger"
                   href="{% url 'adminsec:hpcusercreaterequest-deny' hpcusercreaterequest=object.uuid %}"
                >
                  <i class="iconify" data-icon="mdi:minus-circle"></i>
                  Deny
                </a>
              {% else %}
                <a class="btn btn-primary"
                   href="{% url 'usersec:hpcusercreaterequest-update' hpcusercreaterequest=object.uuid %}"
                >
                  <i class="iconify" data-icon="mdi:refresh"></i>
                  Update
                </a>
                {% if is_retracted %}
                  <a class="btn btn-success"
                     href="{% url 'usersec:hpcusercreaterequest-reactivate' hpcusercreaterequest=object.uuid %}"
                  >
                    <i class="iconify" data-icon="mdi:check-bold"></i>
                    Activate
                  </a>
                {% else %}
                  <a class="btn btn-danger"
                     href="{% url 'usersec:hpcusercreaterequest-retract' hpcusercreaterequest=object.uuid %}"
                  >
                    <i class="iconify" data-icon="mdi:backspace"></i>
                    Retract
                  </a>
                {% endif %}
              {% endif %}
            </span>
          {% endif %}
        </span>
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <dl class="row">
            <dt class="col-sm-3">Resources</dt>
            <dd class="col-sm-9">
              <dl class="row">
                {% for key, value in object.resources_requested.items %}
                  <dt class="col-sm-3 text-muted">{{ key }}</dt>
                  <dd class="col-sm-9">{{ value }}</dd>
                {% endfor %}
              </dl>
            </dd>
            <dt class="col-sm-3">Requester</dt>
            <dd class="col-sm-9">{{ object.requester }}</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{ object.email }}</dd>

            <dt class="col-sm-3">Expiration</dt>
            <dd class="col-sm-9">{{ object.expiration }}</dd>
          </dl>
        </div>
        <div class="col-sm-6">
          {% if comment_history %}
            <div class="alert alert-info">
              <h5 class="alert-heading">Comments</h5>
              <hr>
              <ul class="list-unstyled">
                {% for comment in comment_history %}
                  <li>
                    <small>{{ comment.1|date:"Y-d-m H:i" }}</small>
                    <strong>{{ comment.0 }}</strong>:
                    {{ comment.2 }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
