{% extends 'base.html' %}

{% load common %}

{% block content %}

  <div class="card mt-5">
    <div class="card-header">
      <h4 class="card-title">
        HPC User Request
        <span class="badge bg-{{ object.status|colorize_request_status }}">
          {{ object.display_status }}
        </span>
        <span class="float-end">
          {% if admin %}
            {% include "usersec/modules/request_buttons_admin.html" %}
          {% else %}
            {% include "usersec/modules/request_buttons_user.html" %}
          {% endif %}
        </span>
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <dl class="row">
            <dt class="col-sm-3">Requester</dt>
            <dd class="col-sm-9">{{ object.requester }}</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9"><a href="mailto:{{ object.email }}">{{ object.email }}</a></dd>

            <dt class="col-sm-3">Group</dt>
            {% if admin %}
              <dd class="col-sm-9"><a href="{% url 'adminsec:hpcgroup-detail' hpcgroup=object.group.uuid %}">{{ object.group.name }}</a></dd>
            {% else %}
              <dd class="col-sm-9"><a href="{% url 'usersec:hpcgroup-detail' hpcgroup=object.group.uuid %}">{{ object.group.name }}</a></dd>
            {% endif %}
            <dt class="col-sm-3">Expiration</dt>
            <dd class="col-sm-9">{{ object.expiration|date:"Y-m-d" }}</dd>
          </dl>
        </div>
        <div class="col-sm-6">
          {% include "usersec/modules/comments.html" %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
