{% extends 'base.html' %}

{% load common %}

{% block content %}

  <div class="row">
    <h2>Retracting user request</h2>
  </div>

  <div class="row">
    <form method="post">
      {% csrf_token %}
      <p>
        Are you sure you want to <strong>retract</strong> the group request?
      </p>
      {{ form }}
      <a class="btn btn-secondary"
         href="{% url 'usersec:hpcusercreaterequest-detail' hpcusercreaterequest=object.uuid %}"
      >
        <i class="iconify" data-icon="mdi:arrow-left-bold"></i>
        Cancel
      </a>
      <button class="btn btn-danger" type="submit">
        <i class="iconify" data-icon="mdi:backspace"></i>
        Retract
      </button>
    </form>
  </div>
{% endblock content %}
