{% extends 'base.html' %}

{% load common %}

{% block content %}

  <h3 class="mt-4">Welcome, {{ object.user.name }}!</h3>
  <p class="text-muted">
    This is the user landing page and holds information about your user and links to the
    working group you are affiliated with.
  </p>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <a href="{% url 'usersec:hpcuser-detail' hpcuser=object.uuid %}"><i class="iconify" data-icon="mdi:user"></i></a>
            {{ object.user.name }}
          </h4>
          <h6 class="card-subtitle text-muted">
            {{ object.username }}
          </h6>
        </div>
        <div class="card-body">
          <div class="card-subtitle text-muted">
            <ul class="list-unstyled">
              <li>
                <a href="mailto:{{ object.user.email }}"><span class="iconify" data-icon="mdi:email"></span></a>
                {{ object.user.email }}
              </li>
              <li>
                <span class="iconify" data-icon="mdi:phone-classic"></span>
                {{ object.user.phone }}
              </li>
              <li title="Expiration date" data-bs-toggle="tooltip">
                <span class="iconify" data-icon="mdi:clock"></span>
                {{ object.expiration }}
              </li>
            </ul>
          </div>
          <hr />
          <h6>Resources</h6>
          <dl class="row">
            {% for key, value in object.resources_requested.items %}
              <dt class="col-sm-3 text-muted">{{ key }}</dt>
              <dd class="col-sm-9">{{ value }}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <a href="{% url 'usersec:hpcgroup-detail' hpcgroup=object.primary_group.uuid %}"><i class="iconify" data-icon="mdi:user-group"></i></a>
            {{ object.primary_group.name }}
            {% if object.hpcgroup_owner.exists %}
              <i class="iconify text-warning" data-icon="mdi:medal"></i>
            {% elif object.hpcgroup_delegate.exists %}
              <i class="iconify text-secondary" data-icon="mdi:medal-outline"></i>
            {% endif %}
          </h4>
          <h6 class="card-subtitle text-muted">
            {{ object.primary_group.description }}
          </h6>
        </div>
        <div class="card-body">
          <div class="card-subtitle text-muted">
            <ul class="list-unstyled">
              <li>
                <i class="iconify" data-icon="mdi:medal"></i>
                <a href="{% url 'usersec:hpcuser-overview' hpcuser=object.primary_group.owner.uuid %}">{{ object.primary_group.owner.user.name }}</a>
                <span class="small text-muted fw-bold">{{ object.primary_group.owner.username }}</span>
              </li>
              {% if object.primary_group.delegate %}
                <li>
                  <i class="iconify" data-icon="mdi:medal-outline"></i>
                  <a href="{% url 'usersec:hpcuser-overview' hpcuser=object.primary_group.delegate.uuid %}">{{ object.primary_group.delegate.user.name }}</a>
                  <span class="small text-muted fw-bold">{{ object.primary_group.delegate.username }}</span>
                </li>
              {% endif %}
              <li title="Expiration date" data-bs-toggle="tooltip">
                <span class="iconify" data-icon="mdi:clock"></span>
                {{ object.primary_group.expiration }}
              </li>
            </ul>
          </div>

          <hr />

          <h6>Resources</h6>
          <dl class="row">
            {% for key, value in object.primary_group.resources_requested.items %}
              <dt class="col-sm-3 text-muted">{{ key }}</dt>
              <dd class="col-sm-9">{{ value }}</dd>
            {% endfor %}
          </dl>

          <h6>Members <span class="badge rounded-pill bg-secondary">{{ object.primary_group.hpcuser.count }}</span></h6>
          <ul class="list-unstyled">
            {% for member in object.primary_group.hpcuser.all %}
              <li>
                <a href="{% url 'usersec:hpcuser-detail' hpcuser=member.uuid %}">{{ member.user.name|default:"<em>Unknown</em>" }}</a>
                <span class="small text-muted fw-bold">{{ member.username }}</span>
              </li>
            {% empty %}
              <li><em class="text-muted">No members (?)</em></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Projects
          </h4>
          <h6 class="card-subtitle text-muted">
            List of all associated projects.
          </h6>
        </div>
        <ul class="list-group list-group-flush">
          {% for project in user.hpcuser_user.first.hpcproject_members.all %}
            <li class="list-group-item">
              <i class="iconify" data-icon="mdi:package-variant"></i>
              <a href="{% url 'usersec:hpcproject-detail' hpcproject=project.uuid %}">{{ project.name }}</a>
            </li>
          {% empty %}
            <li class="list-group-item"><em class="text-muted">No projects.</em></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% if manager %}
    <div class="pt-4">
      {% include "usersec/modules/request_grid.html" %}
    </div>
  {% endif %}

{% endblock content %}
