{% extends 'base.html' %}

{% load common %}
{% load rules %}

{% block content %}

  <h2 class="mt-4">Welcome, {{ object.user.name }}! <span class="small fw-light">&mdash; {{ object.username }}</span></h2>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="overview-tab" data-bs-toggle="pill" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
    </li>
    {% if group_manager or project_manager %}
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="administration-tab" data-bs-toggle="pill" data-bs-target="#administration" type="button" role="tab" aria-controls="administration" aria-selected="false">Administration</button>
      </li>
    {% endif %}
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="user-info-tab" data-bs-toggle="pill" data-bs-target="#user-info" type="button" role="tab" aria-controls="user-info" aria-selected="false">User Info</button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <div class="row">
        <div class="col-6">
          {% include "usersec/modules/overview_group.html" %}
        </div>
        <div class="col-6">
          {% include "usersec/modules/overview_projects.html" %}
        </div>
      </div>
    </div>
    {% if group_manager or project_manager %}
      <div class="tab-pane fade" id="administration" role="tabpanel" aria-labelledby="administration-tab">
        {% include "usersec/modules/request_grid.html" %}
      </div>
    {% endif %}
    <div class="tab-pane fade" id="user-info" role="tabpanel" aria-labelledby="user-info-tab">

      <ul class="list-unstyled">
        <li>
          <a href="mailto:{{ object.user.email }}" class="text-dark"><span class="iconify" data-icon="mdi:email"></span></a>
          {{ object.user.email|default:"<em class='text-muted'>None</em>" }}
        </li>
        <li>
          <span class="iconify" data-icon="mdi:phone-classic"></span>
          {{ object.user.phone|default:"<em class='text-muted'>None</em>" }}
        </li>
      </ul>

      <hr />

      <dl class="row">
        <dt class="col-sm-2">Member of Group</dt>
        <dd class="col-sm-10">AG {{ object.primary_group.owner.user.last_name }}</dd>

        <dt class="col-sm-2">Member of Projects</dt>
        <dd class="col-sm-10">
          <ul class="list-unstyled">
          {% for project in object.hpcproject_members.all|order_by:"name" %}
            <li>{{ project.name }}</li>
          {% empty %}
            <li><em class="text-muted">None</em></li>
          {% endfor %}
          </ul>
        </dd>

        <dt class="col-sm-2">Home Directory</dt>
        <dd class="col-sm-10">{{ object.home_directory|default:"<em class='text-muted'>None</em>" }}</dd>

        <dt class="col-sm-2">Login Shell</dt>
        <dd class="col-sm-10">{{ object.login_shell|default:"<em class='text-muted'>None</em>" }}</dd>

        <dt class="col-sm-2">Expires</dt>
        <dd class="col-sm-10">{{ object.expiration|date:"Y/m/d" }}</dd>
      </dl>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      // Prepare toggle and count for inactive group members
      if ($(".groupMemberInactive").length === 0) {
        $("#toggleInactiveGroupMembersGroup").hide();
      } else {
        $("#inactiveGroupMembers").text($(".groupMemberInactive").length);
        $("#toggleInactiveGroupMembers").change(function() {
          $(".groupMemberInactive").toggle();
          $("#toggleInactiveGroupMembersText").text($(this).prop("checked") ? "hide" : "show");
        }).trigger("change");
      }
      // Prepare toggle and count for inactive project members
      for (let i = 0; i < $("#projectCount").text(); i++) {
        if ($(`.project${i}MemberInactive`).length === 0) {
          $(`#inactiveProject${i}MembersText`).hide();
        } else {
          $(`#inactiveProject${i}Members`).text($(`.project${i}MemberInactive`).length);
        }
      }
      // Prepare toggle and count for inactive projects
      $("#inactiveProjects").text($(".projectInactive").length);
      $("#toggleInactiveProjects").change(function() {
        $(".projectInactive").toggle();
        $("#toggleInactiveProjectsText").text($(this).prop("checked") ? "hide" : "show");
        for (let i = 0; i < $("#projectCount").text(); i++) {
          $(`.project${i}MemberInactive`).toggle();
        }
      }).trigger("change");
    });
  </script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .nav-pills .nav-link {
      color: #212529 !important;
    }
    .nav-pills .nav-link.active {
      background-color: #212529 !important;
      color: white !important;
    }
  </style>
{% endblock %}
