{% extends 'base.html' %}

{% load common %}

{% block content %}

  <h3 class="mt-4">Welcome, {{ object.user.name }}!</h3>
  <p class="text-muted">
    This is the user landing page and holds information about your user and links to the
    working group you are affiliated with.
  </p>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <a href="{% url 'usersec:hpcuser-detail' hpcuser=object.uuid %}">{{ object.username }}</a>
            <span class="badge bg-{{ object.status|colorize_object_status }}">{{ object.status|lower }}</span>
          </h4>
          <h6 class="card-subtitle text-muted">
            {{ object.user.name }}
          </h6>
        </div>
        <div class="card-body">
          <div class="card-subtitle text-muted">
            <ul class="list-unstyled">
              <li>
                <a href="mailto:{{ object.user.email }}"><span class="iconify" data-icon="mdi:email"></span></a>
                {{ object.user.email }}
              </li>
              <li>
                <span class="iconify" data-icon="mdi:phone-classic"></span>
                {{ object.user.phone }}
              </li>
              <li title="Expiration date" data-bs-toggle="tooltip">
                <span class="iconify" data-icon="mdi:clock"></span>
                {{ object.expiration }}
              </li>
            </ul>
          </div>
          <hr />
          <h6>Resources</h6>
          <dl class="row">
            <dd class="col-sm-9">
              <dl class="row">
                {% for key, value in object.resources_requested.items %}
                  <dt class="col-sm-3 text-muted">{{ key }}</dt>
                  <dd class="col-sm-9">{{ value }}</dd>
                {% endfor %}
              </dl>
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <a href="{% url 'usersec:hpcgroup-detail' hpcgroup=object.primary_group.uuid %}">{{ object.primary_group.name }}</a>
            <span class="badge bg-{{ object.primary_group.status|colorize_object_status }}">{{ object.primary_group.status|lower }}</span>
            {% if object.hpcgroup_owner.exists %}
              <span class="badge bg-primary">Owner</span>
            {% elif object.hpcgroup_delegate.exists %}
              <span class="badge bg-primary">Delegate</span>
            {% endif %}
          </h4>
          <h6 class="card-subtitle text-muted">
            {{ object.primary_group.description }}
          </h6>
        </div>
        <div class="card-body">
          <div class="card-subtitle text-muted">
            <ul class="list-unstyled">
              <li>
                <span class="badge bg-primary">Owner</span>
                <a href="{% url 'usersec:hpcuser-overview' hpcuser=object.primary_group.owner.uuid %}">{{ object.primary_group.owner.user.name }}</a>
                <span class="small text-muted fw-bold">{{ object.primary_group.owner.username }}</span>
              </li>
              {% if object.primary_group.delegate %}
                <li>
                  <span class="badge bg-secondary">Delegate</span>
                  <a href="{% url 'usersec:hpcuser-overview' hpcuser=object.primary_group.delegate.uuid %}">{{ object.primary_group.delegate.user.name }}</a>
                  <span class="small text-muted fw-bold">{{ object.primary_group.delegate.username }}</span>
                </li>
              {% endif %}
              <li title="Expiration date" data-bs-toggle="tooltip">
                <span class="iconify" data-icon="mdi:clock"></span>
                {{ object.primary_group.expiration }}
              </li>
            </ul>
          </div>
          <hr />
          <dl class="row">
            <dt class="col-sm-3">Resources</dt>
            <dd class="col-sm-9">
              <dl class="row">
                {% for key, value in object.primary_group.resources_requested.items %}
                  <dt class="col-sm-3 text-muted">{{ key }}</dt>
                  <dd class="col-sm-9">{{ value }}</dd>
                {% endfor %}
              </dl>
            </dd>

            <dt class="col-sm-3">Members <span class="badge bg-secondary">{{ object.primary_group.hpcuser.count }}</span></dt>
            <dd class="col-sm-9">
              <ul class="list-unstyled">
                {% for member in object.primary_group.hpcuser.all %}
                  <li>
                    <a href="{% url 'usersec:hpcuser-detail' hpcuser=member.uuid %}">{{ member.user.name|default:"<em>Unknown</em>" }}</a>
                    <span class="small text-muted fw-bold">{{ member.username }}</span>
                  </li>
                {% empty %}
                  <li><em class="text-muted">No members (?)</em></li>
                {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  {% if manager %}
    <h3 class="mb-4 mt-4">
      Open Requests
    </h3>

    <hr class="mb-4" />

    {% include "usersec/modules/request_grid.html" %}

  {% endif %}

{% endblock content %}
