<h2 class="mt-5">
  {{ action }} {{ object_type }}
</h2>

<form method="post">
  {% csrf_token %}
  <p class="lead">
    Are you sure you want to
    <strong {% if action == "Deny" or action == "Reject" or action == "Retract" or action == "Delete" %}class="text-danger"{% endif %}>
      {{ action|upper }}
    </strong>
    the {{ object_type }}?
  </p>
  <a class="btn btn-secondary" onclick="history.back()">
    <i class="iconify" data-icon="mdi:arrow-left-bold"></i>
    Cancel
  </a>
  <button class="btn
            {% if action == "Deny" or action == "Reject" or action == "Retract" or action == "Delete" %}
              btn-danger
            {% else %}
              btn-success
            {% endif %}
          "
          type="submit"
  >
    <i class="iconify" data-icon="mdi:check-bold"></i>
    Confirm
  </button>
</form>
