{% load common %}

<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      AG {{ object.primary_group.name.capitalize }}
      {% if object.is_pi %}
        <span class="badge rounded-pill bg-dark">Owner</span>
      {% elif object.is_delegate %}
        <span class="badge rounded-pill bg-secondary">Delegate</span>
      {% else %}
        <span class="badge rounded-pill bg-light text-secondary" style="border: 1px solid #6c757d !important">Member</span>
      {% endif %}
      <span class="float-end fw-light fs-6 text-muted">
        <i class="iconify" data-icon="mdi:clock"></i>
        {{ object.primary_group.expiration|date:"Y-m-d" }}
      </span>
    </h4>
    <h6 class="card-subtitle text-muted">
      <q class="fst-italic">{{ object.primary_group.description|default:"Information about your work group" }}</q>
    </h6>
  </div>
  <div class="card-body">
    <div class="card-subtitle">
      <dl class="row">
        <dt class="col-sm-3">Owner</dt>
        <dd class="col-sm-9">
          {{ object.primary_group.owner.user.name }}
          <span class="small fw-light">({{ object.primary_group.owner.username }})</span>
        </dd>

        <dt class="col-sm-3">Delegate</dt>
        <dd class="col-sm-9">
          {% if object.is_delegate %}
            {{ object.primary_group.delegate.user.name }}
            <span class="small fw-light">({{ object.primary_group.delegate.username }})</span>
          {% else %}
            <em class="text-muted">None</em>
          {% endif %}
        </dd>
      </dl>
    </div>

    <dl class="row mt-4">
      {% include "usersec/modules/resources_active.html" with object=object.primary_group %}
    </dl>

    <div class="accordion accordion-flush" id="groupMembersAccordion">
      <div class="accordion-item">
        <h6 class="accordion-header" id="groupMembersAccordionHeader">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGroupMembersAccordion" aria-expanded="false" aria-controls="collapseGroupMembersAccordion">
            <strong>Members</strong>
            <span class="badge rounded-pill bg-secondary ms-1">{{ object.primary_group.hpcuser.count }}</span>
          </button>
        </h6>
        <div id="collapseGroupMembersAccordion" class="accordion-collapse collapse" aria-labelledby="groupMembersAccordionHeader" data-bs-parent="#groupMembersAccordion">
          <div class="accordion-body">
            <div class="btn-group btn-group-sm float-end" role="group" id="toggleInactiveGroupMembersGroup" aria-label="Toggle inactive group members">
              <input type="checkbox" class="btn-check" id="toggleInactiveGroupMembers" autocomplete="off">
              <label class="btn btn-outline-secondary" style="border: 0px" for="toggleInactiveGroupMembers">
                <span class="badge rounded-pill bg-secondary">
                  <span id="inactiveGroupMembers">0</span> inactive
                </span>
                <span id="toggleInactiveGroupMembersText">show</span>
              </label>
            </div>
            <ul class="list-unstyled">
              {% for member in object.primary_group.hpcuser.all|order_by:"user__last_name" %}
                <li {% if member.status != 'ACTIVE' %} class="groupMemberInactive text-muted text-decoration-line-through" style="color: #aaaaaa"{% endif %}>
                  {{ member.user.last_name|default:"<em>Unknown</em>" }}, {{ member.user.first_name|default:"<em>Unknown</em>" }}
                  <span class="small fw-light">({{ member.username }})</span>
                  {% if group_manager or project_manager %}    
                    <span class="small text-muted">
                      <i class="iconify" data-icon="mdi:clock"></i>
                      {{ member.expiration|date:"Y/m/d" }}
                    </span>
                  {% endif %}
                </li>
              {% empty %}
                <li><em class="text-muted">No members (?)</em></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
