{% extends 'base.html' %}

{% load common %}

{% block content %}
<div class="container-fluid text-center">
  <h2 class="mt-4">HPC Access Administation</h2>
  <h4 class="mt-2 text-muted fw-light">Welcome {{ request.user.username }}!</h4>
  <nav class="mt-4 nav justify-content-center">
    <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
      Django Admin
    </a>
    <a class="nav-link" href="{% url 'impersonate-list' %}" target="_blank">
      Impersonate &mdash; LIST
    </a>
    <a class="nav-link" href="{% url 'impersonate-search' %}">
      Impersonate &mdash; SEARCH
    </a>
  </nav>
</div>
{% endblock content %}
