{% extends 'base.html' %}

{% load common %}

{% block content %}
<div class="container-fluid">

  <p>
    Welcome to <hb>HPC Access</hb>.
  </p>
  <p>
    This web app allows <strong>principal investigators and group leaders</strong>
  </p>
  <ul>
    <li>to bring their group to the cluster and create projects for collaboration on the cluster</li>
    <li>onboard their group members onto the cluster</li>
    <li>manage (add/remove) users in their groups and projects</li>
  </ul>
  <hr />
  <p>
    Login with the user name and the &quot;email password&quot; of your home organization.
  </p>
  <p>
    For example: <b>user@CHARITE</b> or <b>user@MDC-BERLIN</b>
  </p>

  <form class="form-signin" method="post" id="form-login">
    {% csrf_token %}
    {% get_django_setting 'ENABLE_LDAP' as ENABLE_LDAP %}
    <input type="text" name="username"
           id="login-username" class="form-control"
           placeholder="{% if ENABLE_LDAP %}username@DOMAIN{% else %}username{% endif %}"
           required autofocus>
    <input type="password" name="password" id="login-password"
           class="form-control my-sm-2 mb-sm-2" placeholder="password"
           required>
    <button class="btn btn-md btn-primary btn-block" type="submit"
            id="login-submit">
      <i class="iconify" data-icon="mdi:login-variant"></i> Login
    </button>
  </form>
</div>
{% endblock content %}
