{% extends 'base.html' %}

{% load common %}

{% block content %}
<div class="container-fluid">

  <p>
    Welcome to <hb>HPC Access</hb>.
  </p>
  <p>
    This website allows users of the <strong>BIH HPC cluster</strong> to
  </p>
  <ul>
    <li>display information about their main work group,</li>
    <li>list the projects they are a member of,</li>
    <li>and see quota utilisation for all storage locations they have access to.</li>
  </ul>
  <p>
    Additionally <strong>principal investigators and group delegates</strong> can
  <ul>
    <li>start a new group on the BIH HPC cluster,</li>
    <li>add new group members,</li>
    <li>create projects with dedicated and collaborative storage resources,</li>
    <li>and make requests for additional group/project resources.</li>
  </ul>
  <hr />
  <p>
    Please log in using your Charité or MDC account.
  </p>

  <form class="form-signin" method="post" id="form-login">
    {% csrf_token %}
    {% get_django_setting 'ENABLE_LDAP' as ENABLE_LDAP %}
    <div class="input-group">
      <input type="text" name="username"
            id="login-username" class="form-control"
            placeholder="username"
            required autofocus>
      <select id="login-domain" name="domain" class="form-select">
        <option value="CHARITE">Charité</option>
        <option value="MDC-BERLIN">MDC</option>
        <option value=""></option>
      </select>
    </div>
    <input type="password" name="password" id="login-password"
           class="form-control my-sm-2 mb-sm-2" placeholder="password"
           required>
    <button class="btn btn-md btn-primary btn-block" type="submit"
            id="login-submit">
      <i class="iconify" data-icon="mdi:login-variant"></i> Login
    </button>
  </form>
</div>
{% endblock content %}
